<section class="bg-light">
  <% tweets.each do |tweet| %>
      <div class="card my-3 mx-auto" style="max-width: 540px;">
        <div class="row g-0 d-flex align-items-center">
          <div class="col-md-3 d-flex justify-content-center">
            <img class="rounded-circle" src="https://via.placeholder.com/60" alt="User Avatar">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <strong class="card-text"><%= tweet.user.name %></strong><br>
              <small class="card-text">@<%= tweet.user.username %></small>
              <p class="card-text"><%= tweet.tweet %></p>
              <p class="card-text"><small class="text-muted"><%= tweet.created_at.strftime("%H:%M %d/%m/%y") %></small></p>
              <div class="controls">
              <%= link_to tweet, class: "text-decoration-none"  do  %>
                  <i class="fa fa-link me-3 fa-lg" aria-hidden="true"></i>
                <% end %>
                <%= link_to edit_tweet_path(tweet), class: "text-decoration-none" do  %>
                  <i class="fa fa-edit me-3 fa-lg " aria-hidden="true"></i>
                <% end %>
                <%= link_to tweet, class: "text-decoration-none", method: :delete, data: { confirm: "Are you sure?" } do  %>
                  <i class="fa fa-trash me-3 text-danger fa-lg" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</section>